<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
    <style>
        ul{
            list-style: none;
        }
        a{
            text-decoration: none;
        }
        li {
            border: 1px dashed #fff ;
            margin: 5px 0;
            line-height: 30px;
            padding: 10px 0;

        }
        a{
            display: inline-block;
            float: right;
            padding: 0 20px
        }
    </style>
</head>
<body>
<div id="app">
    <label>
        Id:
    </label>
    <input type="text" value="" v-model="id">
    <label>
        Name:
    </label>
    <input type="text" value="" v-model="name" @keyup.enter="add" >
        <button id="btn1" @click="add">添加</button>
        <ul>
            <li v-for="item in list" :key="item.id">{{item.id}} --- {{item.name}}
                <a href="" @click.prevent="del(item.id)">删除</a></li>
        </ul>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            id:'',
            name:'',
            list:[
                {id:1,name:"奔驰"},
                {id:2,name:"宝马"},
                {id:3,name:"特斯拉"}
            ]
        },
        methods: {
            add:function () {
                this.list.push({id:this.id,name:this.name})
                this.id=this.name=''

            },
            del:function (id) {
                var index=this.list.findIndex(function (item) {
                    if(item.id==id)
                        return true
                })
                this.list.splice(index,1)

            }
        }
    })
</script>

</body>
</html>